@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sugar";
  src: url("/assets/fonts/Sugar Magic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBold 2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}
